/*
Você pode adicionar seu próprio CSS aqui.

Clique no ícone de ajuda acima para saber mais.
*/

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

@font-face {
    font-family: 'antipastoextrabold';
    src: url(../fonts/antipasto-extraboldtrial-webfont.woff2) format('woff2'),
    url(../fonts/antipasto-extraboldtrial-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antipastoextralight';
    src: url(../fonts/antipasto-extralighttrial-webfont.woff2) format('woff2'),
    url(../fonts/antipasto-extralighttrial-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antipastoregular';
    src: url(../fonts/antipasto-regulartrial-webfont.woff2) format('woff2'),
    url(../fonts/antipasto-regulartrial-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dolce_vita_heavyafewXpounds';
    src: url(../fonts/dolce_vita_heavy_bold-webfont.woff2) format('woff2'),
    url(../fonts/dolce_vita_heavy_bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dolce_vita_lightsuper_light';
    src: url(../fonts/dolce_vita_light-webfont.woff2) format('woff2'),
    url(../fonts/dolce_vita_light-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}



.form-cadastro.clearfix {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.modal-dialog {
    max-width: 650px;
}
input.wpcf7-form-control.wpcf7-submit.btn.btn-reserva {
    width: 100%;
    background: #3b9eb5;
    color: #fff;
    margin-top: 50px;
    line-height: 50px;
}
.box-modal:hover h2{color:#FFF;font-weight: normal;}
input.wpcf7-form-control.wpcf7-submit.btn.btn-reserva:hover {
    background: #2f8194;
}
.modal-content .col-sm-12.text-center {
    height: 100px;
    padding-top: 20px;
    color: #fff;
    padding-top: 50px;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    font-family: 'ciclefina';
}
h2.modal-title:after {
    display: block;
    content: '';
    width: 81px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}
.modal-content {
    max-width: 730px;
    margin: 0 auto;
}
@media(max-width:767px){
    .home footer#footer {
        position: relative;
    }
    .desck002 img {
        min-width: 723px;
    }

    .desck002 {
        width: 100%;
        overflow: hidden;
    }
}
a.btn.btn-download.btn-radius{
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a.btn.btn-download.btn-radius span{
    padding: 0 0 0 5px;
    font-size: 15px;
}

/*Inicio - Real Madrid Campus Experience*/
.list-square li {
    list-style: square;
}
.destaque {
    font-size: 22px;
}

.destaque a {
    color: inherit;
}

.destaque-preco {
    font-size: 68px;
    line-height: 40px;
}

.destaque-preco sup {
    font-size: 30px;
    top: -0.8em;
}

/*Fim - Real Madrid Campus Experience*/


/*===== Página Portugal =====*/
.bg-content-portugal{
    width: 100%;
    height: auto;
    position: relative;
    -webkit-box-shadow: 0px 2px 35px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 2px 35px 1px rgba(0,0,0,0.59);
    box-shadow: 0px 2px 35px 1px rgba(0,0,0,0.59);
    margin-top: 60px;
}
.tit-portugal{
    font-family: 'dolce_vita_lightsuper_light', Sans-serif;
    color: #bd1646;
    font-size: 40px;
}

.conteudo-pt{
    width: 100%;
    height: auto;
    padding: 50px;
    position: relative;
}

.txt-principal{
    font-family: 'Didact Gothic', sans-serif;
    color: #696467;
    font-size: 24px;
    text-align: left;
    line-height: normal
}

.txt-rodape{
    font-family: 'Didact Gothic', sans-serif;
    color: #696467;
    font-size: 24px;
    text-align: center;
    line-height: normal
}

.tarja-principal{
    background-color: #601618;
    width: 100%;
    height: 73px;
    position: relative;
    margin-bottom: 10px;
}

.tarja-sub-bike{
    background-color: #3a532f;
    width: 90%;
    height: auto;
    position: relative;
    margin-bottom: 10px;
    font-family: 'dolce_vita_lightsuper_light', Sans-serif;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    margin: auto;
    padding: 20px;
}
.tarja-sub-eno{
    background-color: #601618;
    width: 90%;
    height: auto;
    position: relative;
    margin-bottom: 10px;
    font-family: 'dolce_vita_lightsuper_light', Sans-serif;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    margin: auto;
    padding: 20px;
}
.tarja-sub-roteiros {
    background-color: #674a28;
    width: 90%;
    height: auto;
    position: relative;
    margin-bottom: 10px;
    font-family: 'dolce_vita_lightsuper_light', Sans-serif;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    margin: auto;
    padding: 20px;
}
.eno-md{
    font-size: 35px;
}

.tarja-arabesco{
    width: 90%;
    height: auto;
    position: relative;
    bottom: 16px;
    margin: auto;
    margin-top: 33px
}
.cont-bike {
    width: 92%;
    min-height: 330px;
    position: relative;
    margin: auto;
    margin-top: 20px;

}

.cont-bike2 {
    width: 92%;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 20px;
    float: left;
}

#bike1:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/10/s1x.jpg');  cursor: pointer;}
#bike2:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s2x.jpg');  cursor: pointer;}
#bike3:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s3x.jpg');  cursor: pointer;}
#bike4:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s4x.jpg');  cursor: pointer;}
#bike5:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s5x.jpg');  cursor: pointer;}
#bike6:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s6x.jpg');  cursor: pointer;}

#eno1:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s7x.jpg');  cursor: pointer;}
#eno2:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s8x.jpg');  cursor: pointer;}
#eno3:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s9x.jpg');  cursor: pointer;}
#eno4:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s10x.jpg');  cursor: pointer;}
#eno5:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s11.jpg');  cursor: pointer;}
#eno6:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s12x.jpg');  cursor: pointer;}
#eno7:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s13x.jpg');  cursor: pointer;}
#eno8:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s14x.jpg');  cursor: pointer;}
#eno9:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s15x.jpg');  cursor: pointer;}

#rot1:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s16x.jpg');  cursor: pointer;}
#rot2:hover {content: url('http://conciergedeviagem.com.br/wp-content/uploads/2017/11/s17x.jpg');  cursor: pointer;}


/*===== Portugal Interno =====*/

.bg-tit-interno {
    width: 100%;
    height: auto;
    padding: 20px 61px 1px 60px;
    position: relative;
}

.tit-interno {
    position: relative;
    font-family: 'dolce_vita_lightsuper_light', Sans-serif;
    color: #3a532f;
    font-size: 45px;
    text-align: center;
}


.tit-interno span {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.tit-interno:before {
    background: #3a532f;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.tit-interno:before {
    left: 0;
}

/*======================== BLODO DE PREÇO ==================*/
.blk-preco {
    width: 100%;
    min-height: 370px;
    position: relative;
    background-color: #3a532f;
    padding: 10px;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    color: #ffffff;
}
.blk-preco p {
    color: #ffffff;
}

.tit-preco {
    position: relative;
    font-family: 'dolce_vita_lightsuper_light', Sans-serif;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
}
.branco {
    color: #ffffff;
}
.txt-valor{
    font-size: 18px;
    position: relative;
    top: -20px;
}
.txt-valor-2{
    font-size: 25px;
}
.txt-valor-3{
    font-size: 13px;
}
.txt-valor-obs{
    font-size: 11px;
}
.valor1{
    font-size: 45px;
}
.valor2{
    font-size: 20px;
    position: relative;
    top: -17px;
}


/*======================== TABS ==================*/

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}
.espaco {
    position: relative;
    width: 100%;
    height: 50px;
}
.espaco2 {
    position: relative;
    width: 100%;
    height: 20px;
}

.with-nav-tabs.panel-default .nav-tabs > li > a, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #ffffff !important;
}

.nav {
    margin-bottom: -1px !important;
}
.panel-body {
    text-align: left !important;
}

.panel {
    background-color: #d9d7db;
    border: 1px solid #d9d7db;
}

.panel-default>.panel-heading {
    background-image: none !important;
    background-color: #3a532f !important;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px !important;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none !important;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px !important;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #3a532f;
    background-color: #d9d7db;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #3a532f;
    background-color: #d9d7db;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9d7db;
    border-color: #d9d7db;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3a532f;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d9d7db;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #3a532f;
    background-color: #d9d7db;
}




